/* Importing Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Body and general font */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Header and Navigation */
header {
  background-color: #333;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

nav img {
  margin-right: 20px;
}

nav a:hover {
  color: #f39c12;
}

label {
  color: white;
  margin-right: 10px;
}

input[type="search"] {
  padding: 5px;
}

/* Main content styling */
main {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

p {
  text-align: justify;
  color: #666;
}

section {
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: center;
}

th {
  background-color: #3498db;
  color: white;
}

td {
  background-color: #ecf0f1;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input, form textarea {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

footer select {
  margin-left: 10px;
  padding: 5px;
}
